header.header.mx-lg-4.mx-xl-0
	div.container-fluid
		.row
			.col-6.d-flex.align-items-center.p-0.col-sm-4
				a(href="#")
					figure.m-0
						img(src="images/sprites/png/LOGO🔵.png", alt="логотип компании...")  