// 
// 
// user.scss
//
// Place your own theme CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.
@font-face {
	font-family: 'proxima-nova-semibold';
	src: local('Helvetica'), url('../resources/fonts/AnyConv.com__AnyConv.com__proxima-nova-condensed-semibold.woff') format('woff'), url('../resources/fonts/AnyConv.com__proxima-nova-condensed-semibold.woff2') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'proxima-nova-regular';
	src: local('Helvetica'), url('../resources/fonts/AnyConv.com__AnyConv.com__proxima-nova-condensed-regular.woff') format('woff'), url('../resources/fonts/AnyConv.com__proxima-nova-condensed-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'proxima-nova-bold';
	src: local('Helvetica'), url('../resources/fonts/ProximaNova-Bold.woff') format('woff'), url('../resources/fonts/ProximaNova-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Futura PT';
	src: local('Helvetica'), url('../resources/fonts/FuturaPT-Book.woff') format('woff'), url('../resources/fonts/FuturaPT-Book.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}




body{
    background-color: #EEF2F8;
}
.header{
    background-color: #fff;
    a{
        img{
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}
.home{
    overflow: hidden;
    &_card{
        background: #FFFFFF;
        box-shadow: 0px 6.25px 31.25px rgba(0, 0, 0, 0.25);
        
        &_header{
            &_logo{
                background: #FFFFFF;
                box-shadow: 12.5px 25px 62.5px rgba(0, 0, 0, 0.15);
                img{
                    max-width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            &_product{
                &_item{
                    a{
                        text-decoration: none;
                        color: #000;
                        img{
                            max-width: 100%;
                            height: auto;
                            object-fit: cover;
                        }
                        figure{
                            margin: 0;
                        }
                        figcaption{
                            font-family: 'proxima-nova-semibold';
                            line-height: 20px;
                        }
                    }
                }
            }
        }
        &_footer{
            &_text{
                h6{
                    font-family: 'proxima-nova-bold';
                    color: #222222;
                    font-weight: bold;
                }
                ul{
                    li{
                        font-family: 'proxima-nova-regular';
                        position: relative;
                        list-style: none;
                        color: #6D6D72;
                        strong{
                            text-transform: uppercase;
                        }
                    }
                }
            }
            &_button{
                button{
                    position: relative;
                    background: #3366FF;
                    box-shadow: 0px 25px 37.5px rgba(6, 13, 27, 0.1); 
                    border: none;
                    color: #fff;
                    font-family: 'proxima-nova-semibold';
                    text-transform: uppercase;
                    padding-left: 5px;
                    svg{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: transform 0.2s ease-in;
                    }
                }
                button:hover{
                    svg{
                        transform: translate(5px, -50%);
                        transition: transform 0.2s ease-in;
                    }
                }
            }
        }
    }
    &_card:not(:last-child){
        margin: 0 0 31px 0;
    }
}
.footer{
    background-color: #222222;
    p{
        font-family: 'Futura PT';
        color: #fff;
    }
}
@media screen and (min-width: 1400px){
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        max-width: 1200px; 
    } 
    .home{
        padding: 20px 0 20px 0;
        &_card{
            .home_card_header_logo{
                max-width: 200px;
                max-height: 200px;
                border-radius: 40px;
            }
            .home_card_header_product_item{
                img{
                    border-radius: 0;
                }
                figcaption{
                    font-size: 18px;
                    max-width: 75%;
                }
            }
            .home_card_footer_text{
                h6{
                    font-size: 36px;
                }
                ul{
                    li{
                        font-size: 24px;
                        max-width: 90%;
                    }
                }
            }
            .home_card_footer_button{
                button{
                    font-size: 19px;
                    width: 250px;
                    padding-right: 25px;
                    svg{
                        right: 15px;
                    }
                }
            }
        }
        &_card:first-child{
            ul{
                li::before{
                    content: '';
                    position: absolute;
                    top: 12px;
                    left: -15px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #000000;
                }
            }
        }
        &_card:not(:first-child){
            ul{
                padding: 0;
                li{
                    list-style: none;
                }
            }
        }
    }
}
@media screen and (max-width: 1399px){
    .home{
        padding: 0 0 17px 0;
        &_card{
            .home_card_header_logo{
                max-width: 200px;
                max-height: 200px;
                margin-right: 20px;
                border-radius: 40px;
            }
            .home_card_header_product_item{
                max-width: 200px;
                img{
                    border-radius: 25px;
                }
                figcaption{
                    font-size: 16px;
                    max-width: 70%;
                }
            }
            .home_card_footer_text{
                h6{
                    font-size: 36px;
                }
                ul{
                    li{
                        font-size: 24px;
                        max-width: 90%;
                    }
                }
            }
            .home_card_footer_button{
                button{
                    font-size: 19px;
                    width: 250px;
                    padding-right: 25px;
                    svg{
                        right: 15px;
                    }
                }
            }
        }
        &_card:first-child{
            ul{
                li::before{
                    content: '';
                    position: absolute;
                    top: 12px;
                    left: -15px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #000000;
                }
            }
        }
        &_card:not(:first-child){
            ul{
                padding: 0;
                li{
                    list-style: none;
                }
            }
        }
    }
    .footer{
        p{
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 992px) {
    .home{ 
        padding: 0 0 15px 0;
        &_card{
            .home_card_header_logo{
                max-width: 155px;
                max-height: 155px;
                margin-right: 0;
                border-radius: 32px;
            }
            .home_card_header_product_item{
                max-width: 155px;
                figcaption{
                    font-size: 16px;
                    max-width: 90%;
                }
            }
            .home_card_footer_text{
                h6{
                    font-size: 30px;
                }
                ul{
                    padding: 0 0 0 10px;
                    li{
                        font-size: 20px;
                    }
                }
            }
            .home_card_footer_button{
                button{
                    font-size: 16px;
                    width: 205px;
                    padding-right: 20px;
                    letter-spacing: -0.516667px;
                    svg{
                        right: 10px;
                    }
                }
            }
        }
        &_card:first-child{
            ul{
                li::before{
                    content: '';
                    position: absolute;
                    top: 12px;
                    left: -15px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #000000;
                }
            }
        }
        &_card:not(:first-child){
            ul{
                padding: 0;
                li{
                    list-style: none;
                }
            }
        }
    }
    .footer{
        p{
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 768px) {
    .home{
        padding: 15px 0 25px 0;
        &_card{
            .home_card_header_logo{
                max-width: 120px;
                max-height: 120px;
                margin-right: 0;
                border-radius: 25px;
            }
            .home_card_header_product_item{
                max-width: 120px;
                img{
                    border-radius: 0;
                }
                figcaption{
                    font-size: 13px;
                    max-width: 90%;
                }
            }
            .home_card_footer_text{
                h6{
                    font-size: 24px;
                }
                ul{
                    li{
                        font-size: 16px;
                    }
                }
            }
            .home_card_footer_button{
                button{
                    font-size: 12px;
                    width: 160px;
                    padding-right: 20px;
                    letter-spacing: -0.516667px;
                }
            }
        }
        &_card:first-child{
            ul{
                li::before{
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: -12px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #000000;
                }
            }
        }
        &_card:not(:first-child){
            ul{
                padding: 0;
                li{
                    list-style: none;
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .home{
        padding: 23px 0 13px 0;
        &_card{
            .home_card_header_logo{
                max-width: 100px;
                max-height: 90px;
                margin-right: 0;
                border-radius: 12px;
            }
            .home_card_header_product_item{
                max-width: 100px;
                img{
                    border-radius: 20px;
                    width: 100px;
                    height: 90px;
                }
                figcaption{
                    font-size: 13px;
                    max-width: 100%;
                }
            }
            .home_card_footer_text{
                h6{
                    font-size: 20px;
                }
                ul{
                    li{
                        font-size: 14px;
                        letter-spacing: -0.4px;
                    }
                }
            }
            .home_card_footer_button{
                button{
                    font-size: 11px;
                    padding-right: 20px;
                    letter-spacing: -0.4px;
                    line-height: 16px;
                    white-space: nowrap;
                    svg{
                        position: absolute;
                        top: 50%;
                        right: 7px;
                        transform: translateY(-50%);
                        transition: transform 0.2s ease-in;
                    }
                }
            }
        }
        &_card:first-child{
            ul{
                li::before{
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: -8px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #000000;
                }
            }
        }
        &_card:not(:first-child){
            ul{
                padding: 0;
                li{
                    list-style: none;
                }
            }
        }
    }
}
@media screen and (max-width: 498px) {
    ::-webkit-scrollbar{
        width: 0;
    }
    .home{
        padding: 0 0 6px 0;
        &_card{
            .home_card_header_logo{
                max-width: 64px;
                max-height: 64px;
                margin-right: 0;
                border-radius: 12px;
            }
            .home_card_header_product{
                overflow-y: auto;
                .home_card_header_product_item{
                    margin-right: 6px;
                    display: flex;
                    flex-shrink: 0;
                    img{
                        border-radius: 20px;
                        width: 64px;
                        height: 64px;
                    }
                    figcaption{
                        font-size: 10px;
                        max-width: 100%;
                        letter-spacing: -0.4px;
                        line-height: 12px;
                    }
                }
            }
            .home_card_footer_text{
                h6{
                    font-size: 15px;
                }
                ul{
                    padding: 0;
                    li{
                        list-style: none;
                        font-size: 13px;
                        letter-spacing: -0.4px;
                        max-width: 100%;
                    }
                }
            }
            .home_card_footer_button{
                button{
                    font-size: 11px;
                    width: 150px;
                    padding-right: 20px;
                    letter-spacing: -0.4px;
                    line-height: 16px;
                    white-space: nowrap;
                    svg{
                        right: 7px;
                    }
                }
            }
        }
        &_card:first-child{
            ul{
                li::before{
                    content: '';
                    position: absolute;
                    top: 12px;
                    left: -15px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: transparent;
                }
            }
        }
    }
    .footer{
        p{
            font-size: 14px;
        }
    }
}